.App {
  height: 100vh;
  margin:auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



body {
  background-color: bisque;
}

.joke-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.joke {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  background-color: rgb(168, 230, 107);
  margin: 20px;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 13px;
  cursor: pointer;
  width: 150px;
  margin: 7px auto;
  text-align: center;
}

.joke-btn {
  width: 30%;
  display: inline-block;
  padding: 10px 30px;
  background: #ffffff;
  border-radius: 13px;
  cursor: pointer;
}

.joke-line {
  font-weight: bold;
  font-size: large;
}

.joke-info {
  width: 100%;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.delivery {
  font-size: larger;
}

.flags {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 820px) {
  .App {
    flex-direction: column;
  }
  .joke {
    width: 80%;
  }
}